/* etch-a-sketch css styles*/
body {
    box-sizing: border-box;
    font-size: 1.8rem;
}

#game-canvas {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

/*.square-style {
    box-sizing: border-box;
    width: 1%;
    height: 10px;
    background-color: black;
}*/

#game-canvas div {
    box-sizing: border-box;
    width: 1%;
    height: 10px;
    /*border: 1px white solid;*/
}

.bg-black div {
    background-color: black;
}

.bg-white div {
    background-color: white;
}

.bg-red div {
    background-color: red;
}

.bg-green div {
    background-color: green;
}

.bg-yellow div {
    background-color: yellow;
}

.bg-blue div {
    background-color: blue;
}

.bg-purple div {
    background-color: purple;
}

.bg-orange div {
    background-color: orange;
}

